@import '../node_modules/angular-material/angular-material.min.css';

.box1 {
  max-height: 100%;
  flex: 1 1 100%;
  display: flex;
  box-sizing: border-box;
  min-width: 100%;
}

md-toolbar {
  position: fixed;
}

md-sidenav {
  position: fixed !important;
}

.box1 {
  margin-top: 64px
  margin-left: 270px;
}